  <h2>Your Movie Queue</h2>

  <table class="table table-striped">
    <thead>
      <th>User ID</th>
      <th>Title</th>
      <th>Importance</th>
      <th>Reason</th>
    </thead>
    <tbody>
      <% @movies.each do |item| %>
      <tr>
        <td><%= item.user_id %></td>
        <td><%= item.title %></td>
        <td><%= item.importance %></td>
        <td><%= item.reason %></td>
        <td>
          <%= form_for item, url: {action: 'delete'} do |f| %>
            <%= f.hidden_field :id %>
            <%= f.submit 'Watched' %>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
</table>
